<div class="box">
  <article class="media">
    <div class="media-left">
        <%= image_tag product.image, :alt => product.product_name %>
    </div>
    <div class="media-content">
      <div class="content">
        <div class="columns">
          <div class="column ml-4">
            <h3><%= link_to product.product_name.titlecase, product%></h3>
            <p>
              <strong> Product Brand:</strong>
              <%= product.brand%>
            </p>

            <p>
              <strong> Product URL:</strong>
              <%= link_to "Link", product.url%>
            </p>

            <p>
              <strong> Product Uploaded by:</strong>
              <%= link_to product.product_creator.name, product.product_creator%>
            </p>

            <p>
             <strong> <%= product.categories.map(&:name).count > 1 ? "Category".pluralize : "Category"%>:</strong>
              <%= product.categories.map(&:name).join(", ")%>
            </p>

            <p>
              <strong> <%= product.countries.map(&:name).count > 1 ? "Country".pluralize : "Country"%>:</strong>
              <%= product.countries.map(&:name).join(", ") %>
              <em class='has-text-black'><%= product.countries.map(&:name).join(", ") == "Canada" ? "Proudly Canadian Product" : "" %></em>
            </p>
          </div>
          <div class="column ml-3">
            <h3>Nutrients</h3>
            <p>
              <strong> Energy(100g):</strong>
              <%= product.product_nutrients.map(&:energy).join(", ") %>
            </p>
            <p>
              <strong> Fat(100g):</strong>
              <%= product.product_nutrients.map(&:fat).join(", ") %>
            </p>
            <p>
              <strong> Carbohydrate(100g):</strong>
              <%= product.product_nutrients.map(&:carbohydrate).join(", ") %>
            </p>
            <p>
              <strong> Sugar(100g):</strong>
              <%= product.product_nutrients.map(&:sugar).join(", ") %>
            </p>
            <p>
              <strong> Protein(100g):</strong>
              <%= product.product_nutrients.map(&:protein).join(", ") %>
            </p>
            <p>
              <strong> Salt(100g):</strong>
              <%= product.product_nutrients.map(&:salt).join(", ") %>
            </p>
            <p>
              <strong> Sodium(100g):</strong>
              <%= product.product_nutrients.map(&:sodium).join(", ") %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>